* {
    margin: 15px;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(122, 106, 106, 0.538);
}

h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: left;
    align-items: left;
    display: flex;
}

p {
    font-size: 15px;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.cabecalho {
    background-color: rgb(110, 18, 60);
    padding: 5px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center; 
    align-items: center; 
    display: flex
}